<div class="off-canvas-wrapper">
    <nav class="off-canvas position-left" id="navbar-small" data-off-canvas>
        <div class="grid-y padding-y">
            <a href="/">Home</a>
            <a href="/president">By President</a>
        </div>
    </nav>
</div>
<div class="cell navbar-ctn">
    <div class="navbar grid-x">
        <div class="show-for-small-only">
            <button type="button" class="show-nav" data-toggle="navbar-small"><img src="/img/menu.svg" alt="Pages" /></button>
        </div>
        <b>Antiquities Act</b>
        <div class="show-for-medium">
            <nav>
                <a href="/">Home</a>
                <a href="/president">By President</a>
            </nav>
        </div>
    </div>
</div>
