<!-- templates/nav.html -->
<div class="off-canvas-wrapper">
  <!-- Mobile off-canvas menu -->
  <nav class="off-canvas position-left" id="navbar-small" data-off-canvas>
    <div class="grid-y padding-y">
      <a href="/">Home</a>
      <a href="/president">By President</a>
      <a href="/states">By State</a>
      <a href="/years">By Year</a>
    </div>
  </nav>
</div>

<!-- Top nav -->
<div class="cell navbar-ctn">
  <div class="navbar grid-x align-middle padding-x padding-y">
    <!-- Toggle button for small screens -->
    <div class="show-for-small-only">
      <button type="button" class="show-nav" data-toggle="navbar-small" aria-label="Toggle navigation">
        <img src="/img/menu.svg" alt="Pages" />
      </button>
    </div>

    <!-- Site title -->
    <b class="cell auto">Antiquities Act</b>

    <!-- Desktop links -->
    <div class="show-for-medium">
      <nav>
        <a href="/">Home</a>
        <a href="/president">By President</a>
        <a href="/states">By State</a>
        <a href="/years">By Year</a>
      </nav>
    </div>
  </div>
</div>
